<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Navigation</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    {%load static%}
    <link rel="stylesheet" href="{%static 'global/style.css' %}">
</head>
<body>
    {%block header%}
        <nav>
            <ul>
                <li><a href="{% url 'contact' %}" >Contact</a></li>
                <li><a href="#" >About</a></li>
                <li>
                    <a href="{% url 'liste_jeux' %}" >Jeux Video</a>
                </li>
                <li><a href="{% url 'Home' %}" >Home</a></li>
            </ul>
        </nav>
    {%endblock%}
    {%block content%}{%endblock%}
    {%block footer%}{%endblock%}
</body>
</html>