{%extends 'base.html'%}

{%block content%} 
    {% if nouveautes %}
        <h1>Nouveautes !</h1>
        <ul id="nouveau">
            {% for jeu in nouveautes %}
                <li>
                    <h2>{{ jeu.name }}</h2>
                    <p>{{ jeu.description }}</p>
                    <p>{{ jeu.date }}</p>
                    <p>{{ jeu.note }}</p>
                    <a href="{% url 'details_jeu' jeu.id%}">Voir plus</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
    {% endif %}


    {% if jeux %}
        <h2>Autres jeux</h2>
        <div id="tous_les_jeux">
            <ul >
                {% for jeu in jeux %}
                    <li>
                        <h2>{{ jeu.name }}</h2>
                        <p>{{ jeu.description }}</p>
                        <p>{{ jeu.date }}</p>
                        <p>{{ jeu.note }}</p>
                        <a href="{% url 'details_jeu' jeu.id%}">Voir plus</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Aucun jeu disponible.</p>
    {% endif %}
{%endblock%}